body{
  margin: 0px!important;
  height: 100%!important;
  width: 100%!important;
  position: fixed!important;
}
md-sidenav-layout{
  height: 100%;
}
md-sidenav{
  width: 320px;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}