.example-fill-remaining-space {
  flex: 1 1 auto;
}
/*.demo-toolbar-icon {
  padding: 6px;
  padding: 0 14px 0 14px;
}
.demo-fill-remaining {
  padding: 6px;
  flex: 1 1 auto;
}
md-sidenav {
  width: 200px;
}*/